header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    width: 100%;
    min-width: 100%;
    min-height: 60px;
    max-height: 60px;
    position: relative;
    margin-bottom: 3%;
}

ul {
    margin: 0 auto;
    padding: 20px 20px;
    text-align: right;
    position: relative;
    width: 40%;
    float: right;
}

li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;
}

li:hover {
    color: #DBE9EE;
}

h1 {
    color: #466995;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
}

h3 {
    color: #333;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

p {
    color: #333333;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

footer {
    background-color: #DBE9EE;
    text-align: center;
    height: 100px;
}

textarea {
    height: auto;
    margin: 0 auto 20px auto;
    width: 50%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    resize: none;
    display: block;
}

label {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin: 20px auto 20px auto;
    display: block;
    text-align: center;
}

button {
    color: #466995;
    font-family: 'Varela Round', sans-serif;
    font-size: 26px;
    margin: 0 auto;
    width: 10%;
    min-width: 100px;
}

a {
    color: #FFF;
    text-decoration: none;
    transition: transform 0.5s;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #DBE9EE;
}

input {
    border-radius: 4px;
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.text-left {
    text-align: left;
}

.response-body {
    background-color: #FFF;
    margin: 0 auto;
}

.login-body {
    box-sizing: border-box;
    background-color: #466995;
    margin: 25vh auto;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 5%;
}

.full-width{
    flex-grow: 100;
}

.min-400-height {
    min-height: 400px;
}

.low-opacity {
    opacity: 70%;
}

.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    margin: 0 auto;
    padding: 20px 20px;
    text-align: left;
    width: 40%;
    float: left;
    color: #FFF;
}

.results {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
}

.landing-pg {
    width: 100%;
    height: 100%;
    background-color: #466995;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.login-box {
    width: 33%;
    max-width: 500px;
    min-width: 300px;
    min-height: 500px;
    max-height: 800px;
    background-color: #DBE9EE;
    border-radius: 5px;
    padding: 3rem;
    text-align: left;
    box-sizing: border-box;
}

.form-input {
    margin-bottom: 1.5rem;
}

.form-login {
    padding-top: 1rem;
}

.input-btn {
    width: 6rem;
    background-color: #FFFFFF;
    margin-bottom: 1.5rem;
    text-align: center;
}

.signup-link {
    margin-top: 1.5rem;
    text-decoration: cornflowerblue;
    color: cornflowerblue;
    box-sizing: border-box;
}

.signup-link:hover{
    color: darkcyan;
}